$font-stack: sans-serif;
$background-color: #1a1a1a;
$text-color: #ffffff;
$fg: #D1A159;
$selected: #e9d2af;

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
  font-size: 1rem;
  font-family: $font-stack;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.container {
  margin: 1rem auto 0;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 2rem;
  }

  .container {
    max-width: 90%;
  }
}

@media only screen and (min-device-width: 480px) {
  body {
    font-size: 1rem;
  }

  .container {
    max-width: 40%;
  }
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.3em;

  div {
    display: flex;
    align-self: center;

    a {
      margin-left: 2rem;
    }
  }
}

header {
  flex-direction: row;
  display: flex;
}

a {
  color: $fg;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: $selected;
  transition: all 0.1s linear;
}

.column {
  display: flex;
  justify-content: space-between;
  width: 100%
}

hr.nav {
  color: #d1a159;
  margin-top: 0;
}

.title {
  font-size: 2em;
  font-weight: normal;
}

img {
  /* For modern browsers */
  image-rendering: pixelated;
}

.btn-link {
  display: inline-block;
  background-color: transparent;
  color: $fg;
  padding: 10px 20px;
  text-decoration: none;
  border: 0.2rem solid $fg;
  font-weight: bold;
  text-align: center;
  transition: background 0.2s;
}

.btn-link:hover .btn-link:active {
  color: #ffffff;
  background-color: $selected;
}

.blog-item {
  display: flex;
  justify-content: space-between;
}
